.contact-us-information {
    font-size: 1.2rem;

}
.contact-us {
    padding-top: 20px;
    font-size: 1rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.error-message {
    color: red;
}
