body {
    font-family: 'Noto Serif TC', serif;
    color: #777;
}

/*public--------------------------------------------------------------------*/
.publicMenu .contact{
    margin-bottom: 20px;
}
.publicMenu .contact h3{
    font-size: 22px;
    line-height: 22px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-weight: 300;
}
.publicMenu .contact p{
    padding: 15px 0 0;
}
.publicMenu .contact a,
.publicMenu .contact p{
    font-size: 12px;
    color: #777777;
    line-height: 21px;
    display: inline-block;
}
.publicMain .nav{
    display: flex;
    margin-bottom: 20px;
    justify-content: end;
    align-items: center;
}
.publicMain .navButton{
    display: none;
}
.publicMain .logo img{
    width: 400px;
}
@media (max-width: 1024px) {
    .publicMenu{
        width: 100%;
        background: #fff;
        z-index: 98;
        border-right: none;
        height: 0;
        overflow: hidden;
        transition: height .5s;
        top: 55px;
    }
    .publicSection.active .publicMenu{
        height: calc(100vh - 55px);
        overflow: auto;
    }
    /* .publicSection.active .publicMenu .menu {
        margin-bottom: 60px;
    } */
    .publicMain{
        padding: 70px 15px 20px 15px;
    }
    .publicMain .nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 20px;
        justify-content: center;
        z-index: 99;
        background: #fff;
        margin-bottom: 0;
        border-bottom: 1px solid #ccc;
    }
    .publicMain .nav .logo{
        margin-left: 20px;
    }
    .publicMain .nav .logo img{
        width: 200px;
    }
    .publicMain .nav .navButton{
        /* display: flex; */
        display: block;
        position: absolute;
        left: 13px;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 6px;
        height: 38px;
        width: 45px;
    }
    .publicMain .nav .navButton span{
        display: inline-block;
        height: 3px;
        width: 24px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -12px;
        background: #999;
        transform-origin: center center;
        transition: margin .2s .3s, transform .2s .1s;
    }
    .publicMain .nav .navButton span:nth-child(1){
        margin-top: -8px;
        transform: rotate(0);
    }
    .publicMain .nav .navButton span:nth-child(2){
        margin-top: -1px;
        transform: scaleX(1);
    }
    .publicMain .nav .navButton span:nth-child(3){
        margin-top: 6px;
        transform: rotate(0);
    }
    .publicSection.active .publicMain .nav .navButton span:nth-child(1) {
        margin-top: -1px;
        transform: rotate(-45deg);
    }
    .publicSection.active .publicMain .nav .navButton span:nth-child(2) {
        margin-top: -1px;
        transform: scaleX(0);
    }
    .publicSection.active .publicMain .nav .navButton span:nth-child(3) {
        margin-top: -1px;
        transform: rotate(45deg);
    }
    .publicMain .mainContent{
        margin-top: 55px;
        padding-top: 15px;
    }
}
@media (max-width: 620px) {
    .publicMain .nav{
        justify-content: end;
    }
}
/*publicform------------------------------------------------------*/
.publicform .title2{
    margin-bottom: 30px;
}
.publicform .title2 h4{
    display: flex;
    align-items: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}
.publicform .title2 svg{
    width: 28px;
    height: auto;
    fill: #467ca8;
    margin-right: 10px;
}
.publicform .account{
    font-size: 15px;
    font-family: 'Noto Sans TC',sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    background: #f1f1f1;
    padding: 20px;
    display: flex;
    justify-content: center;
    left: 0;
    bottom: 0;
}
.publicform .account a{
    color: #467ca8;
    margin-left: 5px;
    text-decoration: revert;
}
.publicform label{
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
}
.publicform label .red{
    color: red;
}
.publicform .publicImg{
    display: block;
    width: 140px;
    height: 140px;
}
.publicform .publicImg label{
    margin-bottom: 0;
    display: flex;
    width: 100%;
    height: 100%;
}
.publicform .nameAndgenderDiv{
    margin-left: 30px;
    width: calc(100% - 170px);
}
.publicform .nameAndgenderDiv>div+div,
.publicform button{
    margin-top: 10px;
}
.publicform .passwordDiv,
.publicform .accountDiv,
.publicform .nameDiv{
    position: relative;
}
.publicform .input{
    width: 100%;
}
.publicform .appendix{
    display: block;

}
.appendix label{
    padding-top: 0;
}
/* .publicform .publicFlex{
    align-items: end;
} */
/* .publicform .gender{
    margin-left: 20px;
    margin-bottom: 18px;
}
.publicform .gender input+label+input{
    margin-left: 10px;
} */
/* .publicform .publicImg,
.publicform .publicImg label{
    width: 190px;
    height: 190px;
} */
/* .publicform .buttons{
    flex-direction: column;
    margin-bottom: 0;
}
.publicform .buttons a{
    width: 100%;
    background: #467ca8;
    padding: 15px;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 5px;
    font-family: 'Noto Sans TC', serif;
    font-weight: 100;
    height: 54px;
} */
@media (max-width: 720px) {
    .publicform{
        padding: 20px 20px 80px;
    }
}
@media (max-width: 640px) {
    .publicform .title{
        margin-bottom: 20px;
    }
    /* .publicform .publicFlex{
        flex-wrap: wrap;
    }
 
    .publicform .right .publicFlex{
        flex-wrap: wrap-reverse;
    } */
    /* .publicform .accountDiv,
    .publicform .nameDiv,
    .publicform .right{
        margin-left: 0;
        width: 100%;
    } */
    /* .publicform .publicImg{
        margin-bottom: 20px;
    }
    .publicform .gender{
        margin-left: 0;
        margin-bottom: 20px;
    } */
}

/*fnregister*/
.fnregister .publicform {
    padding: 40px 40px 80px;
}
.fnregister .publicform li {
    margin-bottom: 16px;
}

.fnregister .puplicPasswordEye{
    top: 35px;
}
.fnregister .publicform .passwordDiv,
.fnregister .publicform .genderDiv{
    width: 48%;
}



/*publicTitle*/
.publicTitle{
    background-color: #427eaa;
    color: #fff;
}
.publicTitle h2{
    padding: 16px;
    text-shadow: 2px 0px 6px #000000;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
}
/*publicGotop*/
.publicGotop{
    margin-top: 10px;
    text-align: right;
}
.publicGotop a{
    font-family: 'Noto Sans TC',sans-serif;
    display: inline-block;
    text-decoration: revert;
}
.publicMenu .menu b,
.publicMenu .menu a{
    padding: 12px 8px;
    text-align: left;
    display: flex;
    align-items: center;
}
.publicMenu .menu b svg,
.publicMenu .menu a svg{
    width: 16px;
    height: auto;
    fill: #aaa;
}
/* .publicMenu .menu b p,
.publicMenu .menu a p{
    margin: 0 10px;
} */
.publicMenu .menu b{
    position: relative;
}
.publicMenu .menu b::after{
    content: '';
    width: 8px;
    height: 8px;
    border: 2px solid #aaa;
    position: absolute;
    right: 10px;
    border-left: none;
    border-bottom: none;
    transform: rotate(45deg);
    margin-bottom: 4px;
    transition: transform .3s;
}
.publicMenu .menu li.active b::after{
    transform: rotate(135deg);
    border: 2px solid #fff;
    border-left: none;
    border-bottom: none;
}
.publicMenu .menu b:hover::after{
    border: 2px solid #fff;
    border-left: none;
    border-bottom: none;
}


/*fnhome--------------------------------------------------------------------*/
.fnhome .slide .content{
    position: relative;
}
.fnhome .slide .content:hover div{
    display: block;
    border: 2px solid #fff;
    transform: rotate(45deg);
    width: 22px;
    height: 22px;
    top: 50%;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}
.fnhome .slide .content:hover div.pre{
    left: 20px;
    border-top: none;
    border-right: none;
}
.fnhome .slide .content:hover div.next{
    right: 20px;
    border-bottom: none;
    border-left: none;

}
.fnhome .slide .content li{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.fnhome .slide .content li.active{
    position: relative;
    z-index: 1;
}
.fnhome .slide .content li p{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 8px 15px;
    background: rgba(0,0,0,.6);
    color: #fff;
    opacity: 0;
    transition: 1.2s;
}
.fnhome .slide .content li.active p{
    opacity: 1;
}
.fnhome .slide .content li img{
    width: 100%;
    height: auto;
}
.fnhome .slide .dot{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.fnhome .slide .dot li{
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #b7b7b7;
    position: relative;
    cursor: pointer;
}
.fnhome .slide .dot li+li{
    margin-left: 10px;
}
.fnhome .slide .dot li.active::after{
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #434648;
    position: absolute;
    top: 4px;
    left: 4px;
}
.fnhome .publicFlex{
    justify-content: space-between;
    padding: 20px 0;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.fnhome .publicFlex>div{
    /* width: calc((100% - 320px - 200px) / 2); */
    overflow: hidden;
    padding: 0 15px;
}
.fnhome .publicFlex .title{
    background: #417dab;
    padding: 10px;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.fnhome .publicFlex .title h3{
    font-size: 24px;
    color: #fff;
    /* font-family: 'Noto Serif TC', serif; */
    font-weight: 700;
}
.fnhome .publicFlex .title+ul li{
    background-color: #fff;
    padding: 12px 10px;
    border-bottom: 1px solid rgb(204, 204, 204);
    transition: all .5s;
    position: relative;
    min-height: 78px;
}
.fnhome .publicFlex .title+ul li:nth-child(even){
    background-color: #ececec;
}
/* .fnhome .publicFlex .title+ul li:hover:nth-child(even){
    background-color: #fff;
} */
.fnhome .publicFlex .title+ul li a{
    font-size: 18px;
    /* font-family: 'Noto Serif TC', serif; */
    font-weight: 700;
    width: calc(100% - 85px);
    color: #777;
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.fnhome .publicFlex .title+ul li:hover a{
    color: #316494;
}
.fnhome .publicFlex .title+ul li p{
    position: absolute;
    top: 14px;
    right: 12px;
    /* text-align: right; */
    /* margin-top: 3px; */
}
.fnhome .publicFlex .title+ul li span{
    background: #666;
    color: #fff;
    font-size: 12px;
    padding: 3px;
    display: inline-block;
}
.fnhome .publicFlex .news,
.fnhome .publicFlex .bulletin{
    flex: 1 1;
}
.fnhome .publicFlex .fbbulletin{
    flex: 0 0 370px;
    text-align: center;
}
.fnhome .advertise{
    display: none;
    padding: 20px 0 0;
}
.fnhome .advertise ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
}
.fnhome .advertise ul li{
    width: 17%;
    margin-bottom: 20px;
    filter: grayscale(100%);
    transition: all .5s;
    border: 1px solid #666;
}
.fnhome .advertise ul li:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
    box-shadow: 0px 1px 5px #00000030;
}
.fnhome .advertise ul li img{
    width: 100%;
    height: auto;
}
.fnhome .publicFlex .control{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}
.fnhome .publicFlex .control button{
    cursor:pointer;
    pointer-events: none;
    user-select: none;
    opacity: .6;
}
.fnhome .publicFlex .control button.active{
    pointer-events: all;
    opacity: 1;
}
.fnhome .publicFlex .control button+button{
    margin-left: 5px;
}
.fnhome .publicMainContent{
    display: flex;
    flex-direction: column;
}
.fnhome .publicMainContent .slide{
    order: 3;
}
.fnhome .publicMainContent .publicFlex{
    order: 1;
}
@media (max-width: 1400px) {
    .fnhome .publicFlex .fbbulletin,
    .fnhome .publicFlex .news,
    .fnhome .publicFlex .bulletin{
        flex: 1 1 100%;
    }
    .fnhome .publicFlex .news,
    .fnhome .publicFlex .bulletin{
        margin-bottom: 20px;
    }
}
/* @media (max-width: 1024px) {
    .fnhome .advertise ul li{
        width: 32%;
    }
    .fnhome .advertise {
        padding: 10px 0 0 ;
    }

}
@media (max-width: 640px) {
    .fnhome .advertise ul li{
        width: 48%;
    }
} */
/*publicCustomTable----------------------------------------------*/
.publicCustomTable{
    background: rgba(255,255,255,.82);
    box-shadow: -2px 1px 10px #00000010;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 20px 40px;
    margin-top: 8px;
    position: relative;
    border: 1px solid #d7d7d7;
    overflow: hidden;
    /* font-family: 'Noto Serif TC', serif;
    font-weight: 200; */
}
.publicCustomTable::after{
    content: '';
    background: url('../img/fnbg.png') no-repeat;
    bottom: 0;
    right: 0;
    width: 869px;
    height: 516px;
    position: absolute;
    z-index: 1;
    opacity: 0.15;
}
.publicCustomTable p{
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    letter-spacing: 1px;
    color: #777777;
}
.publicCustomTable p a{
    display: inline-block ;
}
.publicCustomTable p+p{
    margin-top: 16px;
}
.publicCustomTable {
    margin: 15px 0 10px;
    font-weight: bold;
}
/* .publicCustomTable strong */
.publicCustomTable strong a{
    display: flex;
}
.publicCustomTable ul,
.publicCustomTable ol{
    padding-left: 40px;
    margin: 16px 0;
}
.publicCustomTable hr{
    border-color: #ededed;
    border-style: solid;
    border-width: 1px 0 0;
    height: 1px;
    margin: 10px 0 15px;
}
.publicCustomTable table {
    width: 100%;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-collapse:collapse;
    font-size: 16px;
    line-height: 32px;
    margin: 20px 0;
    /* font-family: 'Noto Serif TC', serif;
    font-weight: 200; */
}
.publicCustomTable tr:first-child {
    background-color: #DDDDDD;
}
.publicCustomTable td {
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    text-align: center;
    font-weight: 400;
}
.publicCustomTable .appendix{
    margin-top: 20px;
    display: block;
}
.publicCustomTable .appendix b{
    margin-bottom: 5px;
    display: block;
}
.publicCustomTable .appendix a{
    font-size: 14px;
    font-weight: 100;
    color: #427eaa;
}
/*fnintroduction-----------------------------------------------*/
.fnacademic .publicCustomTable,
.fnjournal .publicCustomTable,
.fnlist .publicCustomTable,
.fnjoin .publicCustomTable,
.fnintroduction .publicCustomTable{
    min-height: 75vh;
}
/*fnmeeting-----------------------------------------------*/
div[class^="fn fnmeeting"] .publicFlex{
    justify-content: space-between;
}
div[class^="fn fnmeeting"] .publicFlex>div{
    width: calc(50% - 12px);
}
div[class^="fn fnmeeting"] .publicCustomTable::after{
    display: none;
}
div[class^="fn fnmeeting"] .right .items .publicTitle a{
    font-size: 18px;
    padding: 8px;
}
div[class^="fn fnmeeting"] .right .items li{
    margin-bottom: 20px;
}
div[class^="fn fnmeeting"] .right .items li p{
    padding: 10px;
    font-family: 'Noto Sans TC',sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 13px;
    line-height: 22px;
    background: rgba(255,255,255,.82);
}
div[class^="fn fnmeeting"] .moduleItemTitle{
    margin-bottom: 10px;
}
@media (max-width: 1024px) {
    div[class^="fn fnmeeting"] .publicFlex{
        flex-wrap: wrap;
    }
    div[class^="fn fnmeeting"] .publicFlex>div{
        width: 100%;
    }
}

/*fnmember------------------------------------------------------*/
.fnmember_payment .publicCustomContent,
.fnpassword_change .publicCustomContent,
.fnpassword .publicCustomContent,
.fnmember_password .publicCustomContent,
.fnregister .publicCustomContent,
.fnmember_information .publicCustomContent,
.fnmember .publicCustomContent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 68px - 70px);
}
.fnmember .forget a{
    font-size: 15px;
    font-family: 'Noto Sans TC',sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}
.fnmember .forget a:hover{
    text-decoration: revert;
    color: #467ca8;
}
/*fnmember_information*/
.fnmember_information .publicform {
    padding: 40px 40px 80px;
    max-width: 680px;
}
.fnmember_information .publicform li {
    margin-bottom: 16px;
}
.fnmember_information .genderDiv{
    width: 100%;
}

/*fnregister*/
.fnregister .publicform{
    max-width: 690px;
}
.fnregister .publicform .publicFlex{
    width: 100%;
}
/*fnmember_payment_record*/
.fnmember_payment_record .publicCustomTable::after{
    display: none;
}
.fnmember_payment_record .info{
    display: none;
}
.fnmember_payment_record .info.show{
    display: block;
}
/*fnnews*/
.fnnews .publicCustomTable::after{
    display: none;
}